{% for trip in trips %}
    <tr>
        <td>{{ trip.name }}</td>
        <td>{{ trip.dateHourStart|date('Y-m-d')}}</td>
        <td>{{ trip.dateRegistrationLimit|date('Y-m-d')}}</td>
        <td>{{ trip.participants|length }}/{{ trip.numMaxRegistration }}</td>
        <td>{{ trip.state.label }}</td>
        <td>{% if trip.organiser in trip.participants %}
                X
            {% endif %}
        </td>
        <td><a href="{{path('app_profile_show',{'id': trip.organiser.id} )}}">{{ trip.organiser }}</a></td>
         <td>
            {#  <a class="btn btn-success" href="{{ path('app_back_movie_show', {'id': movie.id}) }}"><i class="bi bi-eye"></i></a>
            <a class="btn btn-warning" href="{{ path('app_back_movie_edit', {'id': movie.id}) }}"><i class="bi bi-pencil"></i></a> #}
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="10">No records found</td>
    </tr>
{% endfor %}
