{% for trip in trips %}
    <tr>
        <td>{{ trip.name }}</td>
        <td>{{ trip.dateHourStart|date('Y-m-d')}}</td>
        <td>{{ trip.dateRegistrationLimit|date('Y-m-d')}}</td>
        <td>{{ trip.participants|length }}/{{ trip.numMaxRegistration }}</td>
        <td>{{ trip.state.label }}</td>
        <td>{% if trip.organiser in trip.participants %}
                X
            {% endif %}
        </td>
        <td><a href="{{path('app_profile_show',{'id': trip.organiser.id} )}}">{{ trip.organiser }}</a></td>
         <td>
            {% if trip.state.label != 'created' %}
                <a href="{# {{ path('app_trip_show', {id: trip.id}) }} #}" >Afficher</a>
            {% endif %}
            {% if trip.state.label == 'created' and trip.organiser == app.user %}
                <a href="{# {{ path('app_trip_edit', {id: trip.id}) }} #}" >Modifier</a>
                <a href="{# {{ path('app_trip_publish', {id: trip.id}) }} #}" >Publier</a>
            {% endif %}

            {% if not trip.participants.contains(app.user) 
                and trip.dateRegistrationLimit > "now" | date('Y-m-d')
                and trip.participants|length < trip.numMaxRegistration
                and trip.state.label == 'open' %}
              <form method="post" action="{{ path('app_trip_register', {id: trip.id}) }}" style="display: inline;">
                <button type="submit" class="button-link">S'inscrire</button>
              </form>
            {% endif %}
            {% if trip.participants.contains(app.user) and (trip.state.label == 'open' or trip.state.label == 'closed') %}
                <form method="post" action="{{ path('app_trip_unregister', {id: trip.id}) }}" style="display: inline;">
                    <button type="submit" class="button-link">Se désinscrire</button>
                </form>
            {% endif %}
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="10">No records found</td>
    </tr>
{% endfor %}
