{% for trip in pagination.items %}
	<tr>
		<td>{{ trip.name }}</td>
		<td>{{ trip.dateHourStart|date('d/m/Y H:i') }}</td>
		<td>{{ trip.dateRegistrationLimit|date('d/m/Y H:i') }}</td>
		<td>{{ trip.participants|length }}/{{ trip.numMaxRegistration }}</td>
		<td>
			{% if trip.state.label == 'created' %}
				<span class="badge bg-warning">Créée</span>
			{% elseif trip.state.label == 'open' %}
				<span class="badge bg-success">Ouvert</span>
			{% elseif trip.state.label == 'closed' %}
				<span class="badge bg-danger">Fermé</span>
			{% elseif trip.state.label == 'activity in progress' %}
				<span class="badge bg-info">En cours</span>
			{% elseif trip.state.label == 'passed' %}
				<span class="badge bg-secondary">Terminé</span>
			{% elseif trip.state.label == 'cancelled' %}
				<span class="badge bg-dark">Annulé</span>
			{% else %}
				<span class="badge bg-light">{{ trip.state.label }}</span>
			{% endif %}
		</td>
		<td>
			{% if app.user in trip.participants %}
				X
			{% endif %}
		</td>
		<td>
			<a href="{{ path('app_profile_show', {'id': trip.organiser.id}) }}">{{ trip.organiser }}</a>
		</td>
		<td>
			{% if trip.state.label != 'created' %}
				<a href=" {{ path('app_trip_show', {id: trip.id}) }} " class="btn btn-outline-primary btn-sm">Afficher</a>
			{% endif %}
			{% if trip.state.label == 'created' and trip.organiser == app.user %}
				<a href=" {{ path('app_trip_edit', {id: trip.id}) }} " class="btn btn-outline-warning btn-sm m-1">Modifier</a>
				<a href="{{ path('app_trip_publish', {id: trip.id}) }}" class="btn btn-outline-success btn-sm m-1">Publier</a>
			{% endif %}

			{% if not trip.participants.contains(app.user) 
                and trip.dateRegistrationLimit > "now" | date('Y-m-d')
                and trip.participants|length < trip.numMaxRegistration
                and trip.state.label == 'open' %}
				<form method="post" action="{{ path('app_trip_register', {id: trip.id}) }}" style="display: inline;">
					<button type="submit" class="btn btn-outline-primary btn-sm m-1">S'inscrire</button>
				</form>
			{% endif %}

			{% if trip.participants.contains(app.user) and (trip.state.label == 'open' or trip.state.label == 'closed') %}
				<form method="post" action="{{ path('app_trip_unregister', {id: trip.id}) }}" style="display: inline;">
					<button type="submit" class="btn btn-outline-danger btn-sm m-1">Se désinscrire</button>
				</form>
			{% endif %}
			{% if (trip.organiser == app.user or is_granted('ROLE_ADMIN')) 
                and trip.dateHourStart > "now" | date('Y-m-d H:i') 
                and trip.state.label != 'cancelled' %}
				<a href="{{ path('app_trip_cancel', {id: trip.id}) }}" class="btn btn-outline-danger btn-sm m-1">Annuler</a>
			{% endif %}
		</td>
	</tr>
{% else %}
	<tr>
		<td colspan="8" class="text-center">No records found</td>
	</tr>
{% endfor %}
